<head><link href="/css/masterFooter.css" rel="stylesheet"></head>

<div class="masterDiv admin-masterDiv">
    <a class="icon" href="/admin/tables">
        <i class="fa-solid fa-utensils"></i>
        <p>Active Tables</p>
    </a>
</div>