<head><link href="/css/navbar.css" rel="stylesheet"></head>

<nav class="navbar navbar-expand-lg  sticky-top " >
  <div class="container-fluid" >
    <a class="navbar-brand ">magic menu</a>
    


    <!-- <input type="checkbox" id="checkbox" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <label for="checkbox" class="toggle ">
          <div class="bars" id="bar1"></div>
          <div class="bars" id="bar2"></div>
          <div class="bars" id="bar3"></div>
      </label> -->
    

    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
        <div class="navbar-nav">
          <form class="d-flex" role="search">
            <input class="form-control" type="search" id="search" placeholder="Search" aria-label="Search" style="display: none;">
            <button class="btn btn-outline-primary btn-search" type="submit" style="display: none;">Search</button>
          </form>
        </div>
    </div> -->
  </div>
</nav>


