<% layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/navbar.ejs") %>

<style>
    h4{
        font-family: "Ubuntu", sans-serif;
        text-align: center;
        margin-top: 2rem;
    }
    p,ul{
        font-family: 'Arial Narrow','Franklin Gothic Medium', Arial, sans-serif;
        text-align: justify;
        margin: 0 1rem;
    }
    p{
        font-weight: bold;
        margin-top: 1.5rem;
    }
</style>

<h4>Platform Policy :-</h4>

<p>1. Data Privacy and Security :</p>
<ul>
    <li>
        Compliance: We adhere to the provisions of the Information Technology Act, 2000, and the Personal Data Protection Bill, 2019 (once enacted), ensuring the protection of user data.
    </li>
    <li>
        Data Collection: We collect and process user data only for the purpose of improving our services and providing personalized experiences.User consent is obtained for data collection and usage.
    </li>
    <li>
        Security Measures: Implement robust security measures to safeguard user information from unauthorized access or breaches.
    </li>
</ul>

<p>2. User Conduct </p>
<ul>
    <li>
        Acceptable Use: Users are expected to adhere to acceptable use policies, respecting the rights and privacy of others.
    </li>
    <li>
        Prohibited Activities: Any activities that violate Indian laws, including but not limited to fraud, harassment, or infringement of intellectual property rights, are strictly prohibited.
    </li>
</ul>

<p>3. Intellectual Property Rights :</p>
<ul>
    <li>
        Ownership: Respect intellectual property rights of others and ensure proper licensing and ownership of all content and materials used on the platform.
    </li>
    <li>
        Copyright: Abide by the Copyright Act, 1957, and protect original content and creative works published on the platform.
    </li>
</ul>

<p>4. Customer Service and Dispute Resolution :</p>
<ul>
    <li>
        Customer Focus: We prioritize customer satisfaction and strive to deliver a seamless and exceptional experience for every user of our platform. This includes responding promptly to customer inquiries, resolving issues efficiently, and continuously improving our services based on customer feedback.
    </li>
    <li>
        Customer Support: Provide efficient customer support to address user queries and concerns promptly.
    </li>
    <li>
        Dispute Resolution: Resolve disputes in accordance with Indian laws and regulations, promoting fair and transparent resolution mechanisms.
    </li>
</ul>

<p>5. Regulatory Compliance :</p>
<ul>
    <li>
        Local Regulations: Comply with local regulations, licenses, and permits required for operating a food delivery or online ordering service in different states or municipalities.
    </li>
    <li>
        GST Compliance: Ensure compliance with Goods and Services Tax (GST) regulations for pricing and taxation purposes.
    </li>
</ul>

<p>6. Amendments and Updates :</p>
<ul>
    <li>
        Policy Updates: Periodically review and update company policies to reflect changes in laws, regulations, or operational practices.
    </li>
    <li>
        Notification: Notify users of any policy updates or changes through appropriate channels.
    </li>
</ul>

<p>7. Food Quality and Quantity :</p>
<ul>
    <li>
        The food served to customers is the sole responsibility of the respective hotel or restaurant Vendor from which the order is placed.
    </li>
    <li>
        Magic Menu is a platform that facilitates the ordering process and is not responsible for the quality, quantity, taste, or presentation of the food provided by the Vendor.
    </li>
    <li>
        Any issues or concerns regarding the food quality or quantity should be directed to the Vendor. Magic Menu will not be held liable for any claims arising from the food served by the Vendor.
    </li>
</ul>

<p>8. Orders and Payments :</p>
<ul>
    <li>
        All orders are subject to acceptance and availability. We reserve the right to refuse or cancel any order.
    </li>
</ul>

<p>9. Equal Opportunity Employer :</p>
<ul>
    <li>
        We are an equal opportunity employer and do not discriminate on the basis of race, colour, religion, gender, sexual orientation, gender identity, national origin, age, disability, genetic information, marital status, or any other characteristic protected by law. We believe in promoting diversity and inclusion at all levels of our organization.
    </li>
</ul>

<p>10. Purpose: </p>
<ul>
    <li>
        Our company policy is designed to create a positive work environment, ensure operational efficiency, and uphold our commitment to providing exceptional service to our customers in the food ordering industry.
    </li>
</ul>

<p>11. Amendments to Policy :</p>
<ul>
    <li>
        This policy may be updated or revised as necessary to reflect changes in the company’s operations, industry standards, or legal requirements. Employees will be notified of any updates and expected to review and comply with the revised policy.
    </li>
</ul>

<p style="text-align: center; font-weight: bolder; margin-top: 3rem;">If you have any queries regarded to Policy, please contact help.magicmenu@gmail.com </p>