<%- layout("/layouts/boilerplate.ejs") %>
<%- include("../includes/navbar.ejs") %>


<head>
    <title>Admin Show</title>
    <link rel="stylesheet" href="/css/rootPage.css">
  </head>

<div class="masterDiv">
    
    <div class="childDiv heroDiv">
       
        <div class="textDiv heroTextDiv">
            <h1 class="h1Text">Streamlining Dining Experiences Across Borders</h1>
            <p class="pText"><b>MagicMenu's</b> user-friendly Restaurant Management System can help Fine-Dine Restaurants, QSRs, Cloud Kitchens, Bars & Cafes across the globe by streamlining operations, improving efficiency, customer experience and revenue.</p>
            <a class="btn btn-info reqBtn reqBtn1"> Request Demo</a>
        </div>
        <div class="imageDiv heroImageDiv">
            <img src="/images/Hero1.jpeg" alt="" class="heroImage">
        </div>
        <a class="btn btn-info reqBtn reqBtn2"> Request Demo</a>
    </div>


    <div class="childDiv">
        <div class="textDiv">
            <h3 class="h3Text">Elevate Your Customer's Dining Experience With Our Visually Stunning</h3>
            <h1 class="h1Text"> Magical Menu</h1>
            <p class="pText"> Welcome to our Restaurant Ordering Platform! Experience the convenience of ordering delicious meals digitally.  With just a few clicks, you can explore our menu, place your order, and have your favorite dishes delivered straight to your table. Discover the joy of hassle-free dining with our easy-to-use platform. Order now and treat yourself to a memorable dining experience!</p>
        </div>
        <div class="imageDiv">
            <img src="/images/Homepage-portrait.png" alt="" class="rootImage">
        </div>
    </div>
    
    <div class="childDiv">
        <div class="textDiv">
           <h3 class="h3Text">Today we are just one QR code away from everything we can possibly imagine, so why not a menu?</h3> 
        </div>
        <div class="imageDiv qrImageDiv">
            <img src="/images/QR.PNG" alt="" class="rootImage qrImage">
        </div>
    </div>

    <h3 class="center h3Text"> <i class="fa-solid fa-crown iconCrown"></i> &nbsp;&nbsp;&nbsp;&nbsp; Key Features &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-crown iconCrown"></i></h3>
    
    <div class="childDiv">
        <div class="imageDiv">
            <img src="/images/Portfolio.png" alt="" class="rootImage portfolioImage">
        </div>
        <div class="textDiv">
            <h3 class="h3Text">Showcase Enticing Visuals And Irresistable Menu Description:</h3>
            <p class="pText">As restaurateurs, showcasing high-quality images of the dishes along with crave-worthy descriptions allows customers to visualize their dishes, making the overall dining experience more informed and enjoyable. A visually appealing menu also encourages exploration and a wider variety of orders.</p>
        </div>
    </div>

    <div class="childDiv"> 
        <div class="textDiv">
            <h3 class="h3Text">Update Menu In Real-Time:</h3>
            <p class="pText">A QR code menu allows restaurant owners the flexibility to edit and update their menus in real time. One can change showcased imag descriptions, add new menu items, or even remove out-of-stock di anytime they want.</p>
        </div>   
            
        <div class="imageDiv"> 
            <img src="/images/Edit1.png" alt="" class="rootImage">
        </div>
    </div>

    <div class="childDiv"> 
        <div class="textDiv">
           <h3 class="h3Text">Dynamic Pricing and Menu Engineering:</h3>
            <p class="pText">MagicMenu's digital menu helps restaurant owners implement dynamic pricing and menu adjustments based on their preferred timings and customer flow. For example, pricing can be dynamically changed based on peak hours or days to maximize profitability.</p> 
        </div>   
            
        <div class="imageDiv">
            <img src="/images/Edit.png" alt="" class="rootImage">
        </div>
    </div>
</div>

<%- include("../includes/footer.ejs") %>
<!-- Promote Your Restaurants Bestsellers:

Devourin's QR code menu enables restaurants to promote and upsell their best-selling dishes and specials by highlighting them on the digital menu banners. Restaurateurs can push chef recommendations, specials of the day, and highest-selling dishes & drinks to entice their customers into trying new and featured items. -->