*{
    font-family: "Ubuntu", sans-serif;
}

.pageTitleDiv{
    margin:1rem 0 ;
    color:#12296c;
    text-align: center;
    letter-spacing: 1.35px;
    word-spacing: 2.5px ;
}
.master-div{
    padding:0 2rem 2rem;
    display:block;
}
.sub-master-div{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.sub-cat-anchor{
    display: block;
    padding: 0;
    margin: 0;
    width: 22.5vw;
    height: 22.5vw;
    text-decoration: none;
}

.sample{
    border-radius: 20px;
    border: 1px solid #00000020;
    background-color: #9f9f9f2f;
    color: rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 10px 0px #f78664;
}


.sub-cat-div{
    width: 22.5vw;
    height: 22.5vw;
    background-color:transparent;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:15px;
}

.sub-cat-text{
    margin: 0;
    font-size: 8vw;
    font-weight: 900;
    color: #000;
}

@media screen and (min-width:480px) {
    .sub-cat-text{
        font-size:5vw;
    }
    .sub-cat-anchor,.sub-cat-div{
        width: 14vw;
        height: 14vw;
    }
}


@media screen and (min-width:1024px) {
    .sub-cat-text{
        font-size:50px ;
    }
    .sub-cat-anchor,.sub-cat-div{
        width: 9rem;
        height: 9rem;
    }
}