/* .notification-popup{
display: none;
padding: 1rem ;
margin:0 auto;
right: 1rem;
text-align: start;
position:absolute;
width:90vw;
max-width: 25rem;
height: fit-content;
min-height: 4.25rem;
border-radius: 20px;
border-top-right-radius: 0;
color: #ffffff;
}
  
.notification-message{
border-radius: 35px;
font-size: 15px;
font-weight: 400;
margin: 0;
} */

.admin-page-title{
    margin:1rem 0 2rem 0 ;
    color:#12296c;
    text-align: center;
    font-family: "Style Script", cursive;
    letter-spacing: 1.35px;
    word-spacing: 2.5px ;
    animation:top-animation 1.85s;
}

.admin-page-title-id{
    color: #12296c ;
    margin:1rem 2rem 0;
    font-size: 16px;
}

.master-div{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}
.admin-home-card{
    border-radius: 25px;
    margin: 2rem auto 0 auto;
    display:block ;
    width: 17.75rem ;
    height: 25.2rem;
    color: #fff;
    background-color:#756382;
    /* animation:bottom-animation 1.85s; */
}
.admin-home-card-img-div{
    width: 17.75rem;
    height: 15rem;
    margin: 0;
    padding: 0;
}
.star{
    position: absolute;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fff;
    width: 17.75rem;
    height: fit-content;
    border-radius: 1.25rem;
    margin: 0.5rem 0;
    color: #12296c;
    font-weight: 900;
    text-align: center;
}
.admin-home-card-img{
    width: 17.75rem;
    height: 15rem;
    border-radius: 1.25rem;
}

.content-div{
    height: 160px;
    display: block;
}

.name-price-div{
    display:flex;
    width:100%;
    height: 30%;
    gap: 1rem;
    overflow: hidden;
    align-items: center;
    font-size: 18px;
    padding-left: 16px;
}

.item-name-div{
    width:68%;
    text-align:left;
    font-weight: 800;
}

.item-price-div{
    width: 32%;
    float: right;
    text-align: center;
    font-weight: 800;
}

.item-info-div{
    width: 100%;
    height: 47%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 16px;
}

.buttons-div{
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: center;
}

.admin-show-btn{
    color:#fff !important;
    background-color: #fc8019 !important;
    font-weight: 800 !important;
}


@keyframes bottom-animation{
    0% {margin-top: 120vh;}
    100% {margin-top: initial;}
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}