.homeTitleDiv{
    margin:1rem 0 ;
    color:#12296c;
    text-align: center;
    font-family: "Style Script", cursive;
    letter-spacing: 1.35px;
    word-spacing: 2.5px ;
}

.mainHomeDiv{
    padding: 0;
    margin: 0;
    width: 100%;
    vertical-align: middle;
    align-items: center;
}
.bannerDiv{
    width: 90vw;
    margin: 0 auto;
}
.bannerImage{
    width: 90vw;
    height: 50vw;
    border-radius: 1rem;
}
.specialDiv{
    width: 100%;
    padding: 1rem 1.5rem;
}
.specialDiv h4{
    margin: 0 0 1rem 0 !important;
    font-size: 15px;
    font-weight: 900 !important;
}
.specialContentDiv{
    display: flex;
    overflow: auto;
    justify-content: space-between;
}
.specialItemCard{
    text-decoration: none;
    color: #000;
}
.specialContentImage{
    width: 25vw;
    height: 25vw;
    border-radius: 10px;
}
.textDiv{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 25vw;
    font-size: 3.75vw;
}
.card-text{
    margin: 0 !important;
}
.categoryDiv{
    width: 100%;
    padding: 1rem 1.5rem;
    margin-bottom: 4rem;
    text-align: center;
}
.categoryDiv h4{
    font-size: 24px;
    font-weight: 900;
}
.categoryCardDiv{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.categoryCard{
    text-decoration: none;
    color: #000;
    text-align: center;
}
.categoryCardImage{
    width: 42vw;
    height: 45vw;
    border-radius: 1rem;
}


@media screen and (min-width:480px) {
    .bannerDiv{
        width: 30rem;
        height:14rem ;
    }
    .bannerImage{
        width: 30rem;
        height: 14rem;
    }
    .specialContentDiv{
        justify-content: space-evenly;
    }
    .specialContentImage{
        width: 20vw;
        height: 20vw;
    }
    .textDiv{
        width: 20vw;
        font-size: 17px;
    }
    .recommendContentDiv{
        justify-content: space-evenly;
    }
    .recommendContentImage{
        width: 35vw;
        height: 35vw;
    }
}

@media screen and (min-width:1024px) {
    .specialContentImage{
        width: 250px;
        height: 250px;
    }
    .textDiv{
        width: 250px;
    }
    .recommendContentImage{
        width: 350px;
        height: 350px;
    }
}