.regretMessage{
    display: none;
}

.order-page-title{
    color: #12296c !important;
    margin:2rem 2rem !important;
}

.master-div{
    align-items: center;
    justify-content: center;
    display: flex;
}

.order-card{
    border-radius: 25px;
    margin: 2rem auto 0 auto;
    display:block ;
    width: 70vw ;
    max-width: 300px;
    height: fit-content;
    max-height: 450px;
    color: #fff;
}

.order-card-img{
    width: 70vw;
    min-width: 126px;
    max-width: 300px;
    height: 70vw;
    min-height: 126px;
    max-height: 200px;
    margin-bottom: 5px;
    animation: left-animation 1.5s ;
    border-top-left-radius: 2px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 2px;
}

.content-div{
    border-top-left-radius: 2px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 2px;
    background-color: #756382 ;
    width: 70vw;
    min-width: 126px;
    max-width: 300px;
    height: 70vw;
    min-height: 126px;
    max-height: 200px;
    display: block;
    padding:8px 18px 0 18px;
    align-items: center;
    animation: right-animation 1.5s;
}

.item-name-div{
    width: 100%;
    height: 25%;
}
.item-name{
    margin: 0!important;
    font-size: 4.5vw;
}    
.item-price-div{
    width: 100%;
    height: 18%;
    margin: 0 0 3px 0;
}
.item-price{
    font-size: 4.5vw;
    height: 57%;
    margin: 0 !important;
}

.buttons-div{
    width: 100%;
    display: block;
}

.order-input{
    width: 100%;
    height: 7.85vw !important;
    font-size: 3.5vw !important;
    text-align: center !important;
}

.qty-button-div{
    display: flex;
    gap: 0.85rem;
    margin: 1rem 0 0 ;
}

.order-btn{
    background-color: #9ED2BE !important;
    color:#5F0F40 !important;
    font-weight: 800 !important;
    font-size: 3.5vw;
    border-radius: 10px !important;
}


@media screen and (max-width:279px) {
    .regretMessage{
        display:inline;
        text-align: center;
        font-weight: 500;
        color: #fc1919;
    }
    .order-page-title{
        display: none;
    }
    .order-card{
        display: none;
    }
}

@media screen and (min-width:430px) {
    .item-name{
        font-size: 20px;
    }
    .item-info,.item-price{
        font-size: 19px;
    }

    .order-input{
        height: 33.75px !important;
        font-size: 15px !important;
    }
    
    .order-btn{
        font-size: 16px !important;
    }
}

@keyframes left-animation{
    0% {margin-left: -120vh;}
    100% {margin-left: initial;}
}

@keyframes right-animation{
    0% {margin-left: 120vh;}
    100% {margin-left: initial;}
}