body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    /* background: rgb(254 226 226) !important; */
}
.containers{
    /* flex: 1 !important; */

    position: relative !important;
    min-height: 100vh !important;

    /* height: 100vh !important; */
    
}

/* Flash */
.flash{
    width: fit-content !important;
    background-color: aliceblue !important;
    position: absolute !important;
    z-index: 1 !important;
    font-size:16px !important;
    font-weight: 700 !important;
}

/* Footer */
.footer{
    width: 100%;
    position: absolute ;
    bottom: 0;
}
.f-info{
    width: 100%;
}
.f-info a{
    text-decoration: none;
    color: rgb(248, 245, 245);
}
.f-info a:hover{
    text-decoration: underline;
}

.f-info-links,
.f-info-socials, 
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.f-info-links a,
.f-info-socials a,
.f-info-brand{
    color: #12296c !important;
}
.f-info-socials i{
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* SignUp Page */

.signup-login-socials i,
.signup-login-brand,
.signup-login-links a{
    color: #fff !important;
}
.signup-page,
.login-page,
.navbar {
    width: 100%;
    height: fit-content;
    align-items: center !important;
    color: #fff !important;
    background: linear-gradient(250deg, #f78664, #f74d8e, #3bc5f7, #3cface);
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;
    position: absolute;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}
.signup-card{
    display: block !important;
    letter-spacing: 1.85px;
    word-spacing: 2px;
    margin-bottom: 4.5rem !important;
}
.Logo{
    margin: 1.75rem 0 0 1rem !important;
    color: #fff !important;
}
.signup-btn{
    height: 2.75rem !important;
    width: 100% !important;
    border-radius: 30px!important;
    margin-left: 0 !important;
    letter-spacing: 1.85px;
}
.signup-footer{
    width: 100% !important;
    position: relative !important;
    top:auto !important;
    bottom: 0!important;
}
.signup-box{
    height:85vh;
}